<div class="flex h-8 w-full items-center justify-start" id="terminal-helper">
  <ul class="flex flex-row gap-4">
    <li><span class="text-primary">^C</span> Open terminal</li>
    <li><span class="text-primary">:C</span> New category</li>
    <li><span class="text-primary">:T</span> New task</li>
    <li><span class="text-primary">:E</span> Edit </li>
    <li><span class="text-primary">:D</span> Delete </li>
  </ul>
</div>
