<div class="flex h-8 w-full items-center justify-start" id="terminal-helper">
  <ul class="flex flex-row gap-4 flex-nowrap overflow-y-auto scrollbar-none">
    <li class="flex gap-1 text-nowrap"><span class="text-primary">^C</span> Open terminal</li>
    <li class="flex gap-1 text-nowrap"><span class="text-primary">:C</span> New category</li>
    <li class="flex gap-1 text-nowrap"><span class="text-primary">:T</span> New task</li>
    <li class="flex gap-1 text-nowrap"><span class="text-primary">:E</span> Edit </li>
    <li class="flex gap-1 text-nowrap"><span class="text-primary">:D</span> Delete </li>
    <li class="flex gap-1 text-nowrap"><span class="text-primary">:X</span> Logout </li>
  </ul>
</div>
