<div data-controller="terminal" class="h-12 w-full flex items-center justify-start home-box" id="terminal-container" tabindex="5">
  <%= render partial: 'home/terminal/helper', locals: { id: 'terminal-helper' }, layout: 'home/terminal/shared/ui_container' %>
  <%= render partial: 'home/terminal/command_form', locals: { id: 'terminal-command-form' },layout: 'home/terminal/shared/ui_container' %> 
  <%= render partial: 'home/terminal/category_form', locals: { id: 'terminal-category-form' }, layout: 'home/terminal/shared/ui_container' %>
  <%= render partial: 'home/terminal/task_form', locals: { id: 'terminal-task-form' }, layout: 'home/terminal/shared/ui_container' %> 
</div>
