<div data-controller="terminal" class="h-12 w-full home-box" id="terminal-container" tabindex="5">
  <%= render partial: 'home/terminal/helper', layout: 'home/terminal/shared/ui_container' %>
  <%= render partial: 'home/terminal/command_form', layout: 'home/terminal/shared/ui_container' %> 
</div>
