<div 
  data-terminal-target="homeBox" 
  class="h-full w-full rounded-md border-secondary border-[1px] border-solid focus:border-primary outline-none px-2 py-1 overflow-y-auto" 
  <%= "id=#{id}" if defined?(id) && id.present? %> 
  <%= "data-action=#{data_action}" if defined?(data_action) && data_action.present? %>
  <%= "tabIndex=#{index}" if defined?(index) && index.present? %>
>
  <%= yield %>
</div>
