@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;
		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;
		--primary: 221.2 83.2% 53.3%;
		--primary-foreground: 210 40% 98%;
		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;
		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;
		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;
		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 221.2 83.2% 53.3%;
		--radius: 0.5rem;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;
		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;
		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;
		--primary: 217.2 91.2% 59.8%;
		--primary-foreground: 222.2 47.4% 11.2%;
		--secondary: 217.2 32.6% 17.5%;
		--secondary-foreground: 210 40% 98%;
		--muted: 217.2 32.6% 17.5%;
		--muted-foreground: 215 20.2% 65.1%;
		--accent: 217.2 32.6% 17.5%;
		--accent-foreground: 210 40% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;
		--border: 217.2 32.6% 17.5%;
		--input: 217.2 32.6% 17.5%;
		--ring: 224.3 76.3% 48%;
	}

	* {
		@apply box-border;
	}

	body {
		@apply bg-background text-foreground;
	}

}


@layer components {
	.home-box {
		@apply px-4 py-2 rounded-md border border-input;
	}

	#new_user {
		@apply flex flex-col gap-2;
	}

	.field input {
		@apply bg-transparent rounded-md text-sm;
	}

	.actions input[type="submit"] {
	@apply flex items-center justify-center w-full bg-foreground text-background mt-4 py-1 px-4 rounded-md text-sm;
	}

	#category-edit-form input[type="text"], #task-edit-form input[type="text"], #terminal-task input[type="text"] {
		@apply h-fit bg-transparent text-sm text-muted-foreground px-0 py-0 outline-none border-hidden focus:outline-none focus:border-hidden focus:ring-0;
	}

	#task-list li, #task-edit-form {
		display: grid;
		grid-template-columns: repeat(7, minmax(0, 1fr));
		align-items: center;
		gap: 1rem;
		height: 2rem;
	}

	#task-list li div, #task_name, #task_description, #task_due_date {
		grid-column: span 2 / span 2;
		overflow-y: hidden;
		overflow-x: auto;
	}

	#task-list li div:nth-child(2), #task_category_id {
		grid-column: span 1 / span 1;
	}
}

@layer utilities {
	.active {
		@apply bg-background/50 brightness-125
	}

	.custom-datepicker::-webkit-calendar-picker-indicator {
		fiter: invert(100%);
	}

}


