<div id="category-list-container" class="flex flex-col gap-4 h-fit md:h-full w-full md:w-3/12 px-4 py-2 home-box" tabindex="2">
  <h1 class="text-primary">Categories</h1>
  <ul id="category-list" class="flex flex-row md:flex-col flex-nowrap h-full w-full items-start justify-start gap-4 overflow-y-auto">
    <% @categories.each do |category| %>
      <li class="w-full px-1" data-user-id="<%= category.user_id %>" data-category-id="<%= category.id %>"> <%= category.name %></li>
    <% end %>
  </ul>
</div>
