<h1 class="text-primary px-1">Categories</h1>
<ul id="category-list" class="flex flex-row md:flex-col items-start justify-start gap-4 overflow-x-auto">
  <% @categories.each do |category| %>
    <li class="md:w-full px-1" data-user-id="<%= category.user_id %>" data-category-id="<%= category.id %>"> <%= category.name %></li>
  <% end %>
</ul>
