<h1 class="text-primary px-1 mb-2 text-nowrap">Categories</h1>
<ul id="category-list" class="flex flex-row md:flex-col items-start justify-start gap-4 overflow-x-auto">
  <% @categories.each do |category| %>
    <%= turbo_frame_tag "categoryItem#{category.id}", class: "w-full" do %>
      <li 
        class="md:w-full px-1 focus-visible:outline-none" 
        data-user-id="<%= category.user_id %>" 
        data-category-id="<%= category.id %>"
        data-manager-target="categoryItem"
      >
        <%= category.name %>
      </li>
    <% end %>
  <% end %>
</ul>